{% extends 'AppVet/padre.html' %}

{% load static %}

{% block loquecambia%}

<h2> Busqueda de mascotas por nombre</h2>
<br>

{% if miFormulario.errors %}
<p style="color: red;">Están mal los datos, revisar.</p>
{% endif %}

<form action="/AppVet/buscarMas/" method="GET">
    <input type="text" name="nombre" id="nombre">
    <input type="submit" value="Buscar">
</form>
<br>

<h2> Resultado de la busqueda </h2>

{% if mascota %}
    <ul>
        {% for mas in mascota %}
            <li> Nombre: {{mas.nombre}} </li>
            <li> Edad: {{mas.edad}} </li>
            <li> Tipo: {{mas.tipo}} </li>
            <li> Sexo: {{mas.sexo}} </li>
        {% endfor %}
    </ul>
{% else %}
    <p style="color: red;"> No se encontraron mascotas</p>
{% endif %}
<br>
        
    <a href="{% url 'MasFormulario' %}"> Agregar Mascota</a>


{% endblock %}