{% extends 'AppVet/padre.html' %}

{% load static %}

{% block loquecambia %}
    <h2> Agregar Turno</h2>
    <br>
    {% if miFormulario.errors %}
        <p style="color: red;"> Están mal los datos, revisar</p>
    {% endif %}

    <form action="" method="POST">{% csrf_token %}

        <!-- Acá van los elementos de django-->

        <table>
            {{ miFormulario.as_table }}
        </table>
        formato fecha: aaaa-mm-dd
        <br>
        <input type="submit" value="Enviar">
    </form>
    

{% endblock %}